{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans 'Your shopping cart' %}
{% endblock %}

{% block content %}
  <h1>{% trans 'Your shopping cart %}</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>{% trans 'Image' %}</th>
        <th>{% trans 'Product' %}</th>
        <th>{% trans 'Quantity' %}</th>
        <th>{& trans 'Remove' %}</th>
        <th>{& trans 'Unit price' %}</th>
        <th>{% trans 'Price' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
            <!-- Product Image -->
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}
                {% else %}{% static "img/no_image.png" %}{% endif %}">
              </a>
            </td>
            
            <!-- Product and Change Quantity -->
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.overrdide }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            
            <!-- Remove Product -->
            <td>
              <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                <input type="submit" value="Remove">
                {% csrf_token %}
              </form>
            </td>
            
            <!-- Prices -->
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      
      <!-- Total Price -->
      <tr class="total">
        <td>{% trans 'Total' %}</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  
  <!-- Checkout and Continue Shopping -->
  <p class="text-right">
    <a href="{% url 'shop:product_list' %}" class="button
    light">{% trans 'Continue shopping' %}</a>
    <a href="{% url 'orders:order_create' %}" class="button">{% trans 'Checkout' %}</a>
  </p>
{% endblock %}